.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

@media (max-width: 1100px) {
  .heading__title {
    font-size: 37px;
  }
}

@media (max-width: 550px) {
  .heading__title {
    font-size: 25px;
  }
}