.team__slide {
  margin-right: 30px;
}

.team__slide:last-child {
  margin-right: 0px;
}

.team__slide:hover .team__socials {
  transform: translateY(0%);
}

@media (max-width: 550px) {
  .team__slide {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}