.header__nav-link {
  line-height: 1.6;
  white-space: nowrap;
  transition: all .3s;
}

.header__nav-link:hover {
  color: #FF3F3A;
}

@media (max-width: 1100px) {
  .header__nav-link {
    display: block;
    padding: 10px;
  }
}