.testimonials__slider-wrapper {
  padding: 0 50px;
  position: relative;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .testimonials__slider-wrapper {
    padding: 0;
  }
}

@media (max-width: 550px) {
  .testimonials__slider-wrapper {
    margin-bottom: 15px;
  }
}