.testimonials__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.testimonials__arrow path {
  transition: all .3s;
}

.testimonials__arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: all .3s;
}

.testimonials__arrow:hover path {
  fill: #fff;
}