.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 900px) {
  .directions__list {
    gap: 30px 10px;
  }
}

@media (max-width: 700px) {
  .directions__list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }
}