.directions__list-item {}

.directions__list-item--empty {
  background: #F4F5F7;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.directions__list-item--empty span {
  max-width: 240px;
}

.directions__list-item--marketing .directions__link-tag {
  background-color: #03CEA4;
}

.directions__list-item--management .directions__link-tag {
  background-color: #5A87FC;
}

.directions__list-item--hr .directions__link-tag {
  background-color: #F89828;
}

.directions__list-item--design .directions__link-tag {
  background-color: #F52F6E;
}

.directions__list-item--development .directions__link-tag {
  background-color: #7772F1;
}