.directions__filter-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  .directions__filter-box {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .directions__filter-box {
    margin-bottom: 15px;
  }
}