.companies__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 8.1%;
}

@media (max-width: 1100px) {
  .companies__grid {
    gap: 40px 5%;
  }
}

@media (max-width: 900px) {
  .companies__grid {
    grid-template: repeat(3, auto) / repeat(4, 1fr);
  }
}

@media (max-width: 550px) {
  .companies__grid {
    grid-template: repeat(4, auto) / repeat(3, 1fr);
  }
}

@media (max-width: 450px) {
  .companies__grid {
    grid-template: repeat(6, auto) / repeat(2, 1fr);
  }
}