.team__image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 550px) {
  .team__image-box {
    max-width: 300px;
    margin: 0 auto 16px;
  }
}