.directions__filter-btn {
  display: block;
  background-color: transparent;
  color: #9A9CA5;
  border: 1px solid #9A9CA5;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  padding: 5px 7px;
  white-space: nowrap;
}

.directions__filter-btn--active {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border: none;
  color: #fff;
  padding: 6px 8px;
}