.testimonials__quote {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  background: url("../../../images/icons/quote-icon.svg") 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}