.footer__top-col {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.footer__top-col:first-child {
  max-width: 310px;
}

.footer__top-col:last-child {
  max-width: 315px;
}

@media (max-width: 1100px) {
  .footer__top-col {
    margin-bottom: 30px;
  }

  .footer__top-col:first-child {
    flex-basis: 100%;
    max-width: none;
    margin-bottom: 30px;
  }

  .footer__top-col:last-child {
    flex-basis: 100%;
    max-width: none;
    margin-bottom: 0px;
  }
}