.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots li {
  margin-right: 12px;
}

.testimonials__dots li:last-child {
  margin-right: 0;
}

.testimonials__dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.testimonials__dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #B3B7BC;
  border-radius: 3px;
}

.testimonials__dots .slick-active button::before {
  background-color: #424551;
  transition: all .3s;
}

@media (max-width: 550px) {
  .testimonials__dots button {
    width: 20px;
  }
}