.questions__checkbox-label {
  margin-right: 50px;
  display: flex;
  width: 100%;
}

@media (max-width: 550px) {
  .questions__checkbox-label {
    font-size: 14px;
    margin: 0px 0px 24px 0px;
  }
}