.main__questions {
  padding-bottom: 180px;
}

@media (max-width: 1100px) {
  .main__questions {
    padding-bottom: 130px;
  }
}

@media (max-width: 550px) {
  .main__questions {
    padding-bottom: 40px;
  }
}